@font-face { font-family: lobster; src: url('fonts\\Lobster-Regular.ttf'); } 
    
html {
  font-family: lobster;
  text-align: center;
}

  #gridContainer {
  display: grid;
  width:80vmin;
  height:80vmin;
  margin:auto;
  border: 2px solid black;
}

.gridItem {
  background: pink;
}
