@font-face { font-family: lobster; src: url('fonts\\Lobster-Regular.ttf'); } 
    
html {
  font-family: lobster;
  text-align: center;
  background: pink;
}

#mainContainer {
  margin-bottom: 1%;
}

.menuButtons {
  font-family: inherit;
  background: white;
  padding: 1em;
}

#gridContainer {
  display: grid;
  width:80vmin;
  height:80vmin;
  margin:auto;
  border: 2px soli
}

.gridItem {
  background: white;
  border: #000000 1px solid;
  
}
