@font-face { font-family: lobster; src: url('fonts\\Lobster-Regular.ttf'); } 
    
html {
  font-family: lobster;
  text-align: center;
}

  #gridContainer {
  width:80vmin;
  height:80vmin;
  margin:auto;
  display: grid;
}

.griditem {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}